<div class="loading-progress" ng-show="!pageIsLoaded">
    <md-progress-circular md-mode="indeterminate"></md-progress-circular>
</div>
<div ng-show="pageIsLoaded">
    <md-content layout="row">
        <div flex="">
            <md-card>
                <form name="clientForm">
                    <md-input-container class="md-block">
                        <label>Имя</label>
                        <input required name="firstName" ng-model="client.firstName">
                        <div ng-messages="clientForm.firstName.$error">
                            <div ng-message="required">
                                Введи <b>имя клиента</b>
                            </div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Фамилия</label>
                        <input ng-blur="checkName()" required name="lastName" ng-model="client.lastName">
                        <div ng-messages="clientForm.lastName.$error">
                            <div ng-message="required">
                                Введи <b>фамилию клиента</b>
                            </div>
                        </div>
                    </md-input-container>
                    <md-autocomplete md-input-name="cityInput" flex="" required=""
                            md-input-minlength="0" md-input-maxlength="18" 
                            md-selected-item="client.city"
                            md-search-text="searchCity" 
                            md-items="city in querySearch(searchCity)" 
                            md-item-text="city.title"
                            md-floating-label="Город">
                            <md-item-template>
                                <span md-highlight-text="searchCity">{{city.title}}</span>
                            </md-item-template>
                            <div ng-messages="clientForm.cityInput.$error" ng-if="clientForm.cityInput.$touched">
                                <div ng-message="required">Выбери <b>город</b></div>
                            </div>
                        </md-autocomplete>
                    <md-input-container class="md-block">
                        <label>Телефон</label>
                        <input required name="phoneNumber" ng-model="client.phoneNumber">
                        <div class="hint" ng-show="showHints">+3(###)###-##-##</div>
                        <div ng-messages="clientForm.phoneNumber.$error" ng-hide="showHints">
                            <div ng-message="pattern">########## - Please enter a valid phone number.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Источник</label>
                        <input name="source" ng-model="client.source">
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Дополнительная информация</label>
                        <textarea name="additionalInformation" ng-model="client.additionalInformation" md-maxlength="150" rows="5" md-select-on-focus=""></textarea>
                    </md-input-container>
                    <md-button class="md-primary md-raised" ng-disabled="!clientForm.$valid" ng-click="saveClientAndBack()">
                        Сохранить и выйти
                    </md-button>
                    <md-button class="md-primary md-raised" ng-click="checkAndWarn($event)">
                        Назад
                    </md-button>
                </form>
            </md-card>
        </div>
</div>